.block-product {
    @include flex-start-column;
    width: 100%;

    .category-bar {
        @include flex-start-center;
        width: 100%;
        color: $grey-3;
        background-color: $white;
        font-family: 'montserrat_bold';
        font-size: 14px;
        user-select: none;
        text-transform: uppercase;

        .product-category {
            padding: 12px 35px;
            cursor: pointer;
        }

        .active {
            color: black;
            border-bottom: 2px solid black;
        }

    }

    .products {
        @include flex-start-center;
        position: relative;
        flex-wrap: wrap;
        column-gap: 55px;
        row-gap: 55px;
        width: 100%;
        padding: 80px 80px;
        box-sizing: border-box;

        .product {
            @include flex-start-start-column;
            width: 250px;
            cursor: pointer;
            grid-gap: 5px;

            h5 {
                margin-top: 15px;
            }

            .image {
                @include flex-center-center;
                width: 250px;
                height: 312px;

                img.landscape-img {
                    width: 250px;
                    height: 187px;
                    object-fit: cover;
                }

                img.portait-img {
                    width: 250px;
                    height: 312px;
                }

            }

            .price {
                @include flex-start-center;
                column-gap: 10px;

                span.price-from {
                    font-size: 12px;
                }

                h5 {
                    font-family: 'montserrat_medium';
                    font-size: 14px;
                    margin-top: 0px;
                }

            }

        }

        .product-filters {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            grid-gap: 30px;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 350px;
            height: 300px;
            max-width: 100%;
            background-color: $white;
            text-align: left;
            box-sizing: border-box;
            padding: 20px 40px;

            .filter-group {
                @include flex-start-start-column;
                width: 100%;

                .inputs {
                    @include flex-start-center;
                    width: 100%;
                    grid-gap: 30px;
                    border-top: thin solid $grey-3;
                    flex-wrap: wrap;
                    padding-top: 12px;

                    .input {
                        @include flex-center-center;
                        column-gap: 5px;

                        input {
                            width: 14px;
                        }
                    }

                }

            }

        }

    }

}
