.block-product {
    @include flex-start-column;
    width: 100%;

    .category-bar-container {
        width: 100%;
        position: relative;;

        .category-bar {
            @include flex-start-center;
            z-index: auto;
            width: 100%;
            color: $grey-3;
            background-color: $white;
            font-family: 'montserrat_bold';
            font-size: 14px;
            user-select: none;
            text-transform: uppercase;
            overflow-x: scroll;

            .product-category {
                padding: 12px 35px;
                cursor: pointer;
            }

            .active {
                color: black;
                border-bottom: 2px solid black;
            }

        }

        .filters-open {
            @include flex-center-center;
            position: absolute;
            z-index: auto;
            grid-gap: 8px;
            top: 0px;
            right: 0px;
            height: 53px;
            padding-right: 40px;
            padding-left: 25px;
            background-color: $white;
            color: $grey-3;
            cursor: pointer;

            @media ( max-width: 1000px ) {
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                z-index: none;
                padding-right: 25px;
                padding-left: 25px;
                height: 60px;
                box-sizing: border-box;
            }

            i {
                cursor: pointer;
            }

            label {
                font-size: 12px;
                line-height: 12px;
                font-family: 'montserrat_bold';
                text-transform: none;
                cursor: pointer;
            }

        }
    }

    .products {
        @include flex-start-center;
        flex-wrap: wrap;
        column-gap: 55px;
        row-gap: 55px;
        width: 100%;
        padding: 80px 80px;
        box-sizing: border-box;

        .product {
            @include flex-start-start-column;
            width: 250px;
            cursor: pointer;
            grid-gap: 5px;

            h5 {
                margin-top: 15px;
            }

            .image {
                @include flex-center-center;
                width: 250px;
                height: 312px;

                img.landscape-img {
                    width: 250px;
                    height: 187px;
                    object-fit: cover;
                }

                img.portait-img {
                    width: 250px;
                    height: 312px;
                }

            }

            .price {
                @include flex-start-center;
                column-gap: 10px;

                span.price-from {
                    font-size: 12px;
                }

                h5 {
                    font-family: 'montserrat_medium';
                    font-size: 14px;
                    margin-top: 0px;
                }

            }

        }


    }

}
