.block-start {
    width: 100%;
    height: auto;

    .top-section,
    .bottom-section {
        width: 100%;
        height: auto;
        @include flex-start-center;
        flex-wrap: wrap;
        text-align: center;
        box-sizing: border-box;
        column-gap: 3px;
        row-gap: 3px;

        h5 { font-size: 14px; }
        h3 { margin-top: 0px; }

        p {
            width: 100%;
            max-width: 600px;
            font-family: 'montserrat_medium';
        }

    }


    a.top-section-item,
    a.bottom-section-item {
        @include flex-center-column;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: rgba( 0,0,0, 0.4 );
        background-blend-mode: overlay;
        color: $white;
        text-decoration: none;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;

        p {
            margin-top: 20px;
        }

    }

    a.top-section-item {
        width: calc( 50% - 3px );
    }

    a.bottom-section-item {
        margin-top: 3px;
        width: 100%;
    }

    a.top-section-item:hover,
    a.bottom-section-item:hover {
        background-color: rgba( 0,0,0, 0.8 );
    }

    @media ( max-width: 1000px ) {
        a.top-section-item,
        a.bottom-section-item {
            width: 100%;
        }
    }

    @media ( max-width: 600px ) {
        a.top-section-item,
        a.bottom-section-item {
            min-height: 400px;
        }
    }


}
