.carbon-block-section {
    width: 100%;
}

.carbon-block-hero {
    @include flex-end-column;
    height: 100vh;
    grid-gap: 20px;
    width: 100%;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}


.carbon-block-guide {
    @include flex-center-column;
    width: 100%;
    grid-gap: 70px;
    width: 100%;
    padding: 30px 20px 100px 20px;
    box-sizing: border-box;

    p {
        margin-bottom: 0px;
    }
}

.carbon-block-guide-instructions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 90px;
}

.carbon-block-guide-inst {
    @include flex-center-column;
    flex-wrap: wrap;
    grid-gap: 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;

    h4 {
        margin-top: 0px;
    }
}

.carbon-block-previews {
    @include flex-center-column;
    width: 100%;
    grid-gap: 70px;
    padding: 30px 20px 100px 20px;
    box-sizing: border-box;

    p {
        margin-bottom: 0px;
    }

    .category-selector {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }

    .products {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        column-gap: 90px;
    }

}

.carbon-block-advert-single,
.carbon-block-advert-double  {
    width: 100%;
    height: 600px;
}

.carbon-block-advert-single {
    @include flex-center-column;
}

.carbon-block-advert-double {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media ( max-width: 850px ){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }

    .column-1 {
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    .column-2 {
        @include flex-center-column;
    }
}
