.carbon-block-section {
    width: 100%;
}

.carbon-block-hero {
    @include flex-center-column;
    height: 100vh;
    grid-gap: 20px;
    width: 100%;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}


.carbon-block-guide {
    @include flex-center-column;
    width: 100%;
    grid-gap: 70px;
    width: 100%;
    padding: 30px 20px 50px 20px;
    box-sizing: border-box;

    p {
        margin-bottom: 0px;
    }
}

.carbon-block-guide-instructions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 90px;
}

.carbon-block-guide-inst {
    @include flex-center-column;
    flex-wrap: wrap;
    grid-gap: 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;

    h4 {
        margin-top: 0px;
    }
}
