.page-header {
    width: 100%;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: $red-1;
    box-sizing: border-box;

    @media ( max-width: 1000px ) {
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    @media ( max-width: 600px ) {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2, p {
        color: $white;
        opacity: 30%;
    }

    h2 { margin-top: 40px; }
    p {
        width: 100%;
        max-width: 600px;
    }
}
