.photolab-product-preview {
    @include flex-center-column;
    width: 350px;
    max-width: 100%;
    grid-gap: 20px;
    box-sizing: border-box;

    .image-container {
        @include flex-center-center;
        position: relative;
        width: 350px;
        height: 350px;
    }

    .info-container {
        @include flex-start-column;
        width: 100%;
    }

    .button-container {
        @include flex-center-center;
        grid-gap: 5px;
        width: 100%;
    }

    h5, p {
        margin-top: 0;
    }

}
