body {
  width: 100%;
  margin: 0px;
  color: black;
  font-family: "libre_regular";
  font-size: 16px;
  line-height: 27px;
}

header {
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-orange-300 {
  background-color: #FF8A65;
}

.bg-orange-600 {
  background-color: #F4511E;
}

.bg-orange-900 {
  background-color: #BF360C;
}

.orange-300 {
  color: #FF8A65;
}

.orange-600 {
  color: #F4511E;
}

.orange-900 {
  color: #BF360C;
}

.red {
  color: red;
}

.bg-grey-1 {
  background-color: #F6F6F8;
}

.bg-grey-2 {
  background-color: #E3E3E3;
}

.box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.width-100 {
  width: 100%;
}

@font-face {
  font-family: "spartan_bold";
  src: url("../assets/fonts/LeagueSpartan-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "spartan_medium";
  src: url("../assets/fonts/LeagueSpartan-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "libre_regular";
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf");
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: "spartan_bold";
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h1 {
  font-size: 42px;
  line-height: 64px;
}

h2 {
  font-size: 33px;
  line-height: 51px;
}

h3 {
  font-size: 26px;
  line-height: 41px;
}

h4 {
  font-size: 20px;
  line-height: 33px;
}

h5 {
  font-size: 16px;
  line-height: 27px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}

p {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
}

.landscape-img {
  width: 100%;
  height: auto;
}

.portrait-img {
  width: auto;
  height: 100%;
}

.flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex-end-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex-center-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-gap-10 {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.c-gap-20 {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.grid-gap-10 {
  grid-gap: 10px;
}

.grid-gap-20 {
  grid-gap: 20px;
}

a.hero-button-link,
a.more-info-button,
a.select-product-button,
.paginate-button {
  max-width: 100%;
  padding: 20px 35px;
  font-family: "spartan_medium";
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.hero-button-link,
.paginate-button {
  color: black;
  border: 1px solid black;
}

.paginate-button {
  max-width: 100%;
  padding: 10px 35px;
}

a.more-info-button {
  width: 100%;
  padding: 10px 35px;
  color: white;
  background-color: #F4511E;
}

a.select-product-button {
  width: 100%;
  padding: 10px 35px;
  color: white;
  background-color: #BF360C;
}

.carbon-block-section {
  width: 100%;
}

.carbon-block-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  grid-gap: 20px;
  width: 100%;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.carbon-block-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  grid-gap: 70px;
  width: 100%;
  padding: 30px 20px 100px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.carbon-block-guide p {
  margin-bottom: 0px;
}

.carbon-block-guide-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  grid-gap: 90px;
}

.carbon-block-guide-inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 20px;
  width: 300px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.carbon-block-guide-inst h4 {
  margin-top: 0px;
}

.carbon-block-previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  grid-gap: 70px;
  padding: 30px 20px 100px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.carbon-block-previews p {
  margin-bottom: 0px;
}
.carbon-block-previews .category-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
}
.carbon-block-previews .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.carbon-block-previews .products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  grid-gap: 90px;
}

.photolab-product-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  max-width: 100%;
  grid-gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.photolab-product-preview .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 350px;
  height: 350px;
}
.photolab-product-preview .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.photolab-product-preview .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  width: 100%;
}
.photolab-product-preview h5, .photolab-product-preview p {
  margin-top: 0;
}

.photolab-single-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1300px;
  max-width: 100%;
  height: 80vh;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 70px 70px 70px;
  -webkit-box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px;
}
@media (max-width: 950px) {
  .photolab-single-product {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 35px 35px 35px 35px;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
.photolab-single-product .single-product-images {
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.photolab-single-product .single-product-images img {
  width: 100%;
  height: auto;
}
@media (max-width: 950px) {
  .photolab-single-product .single-product-images {
    grid-column: 1;
    grid-row: 1;
  }
}
.photolab-single-product .single-product-info {
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (max-width: 950px) {
  .photolab-single-product .single-product-info {
    grid-column: 1;
    grid-row: 2;
  }
}