$orange-300: #FF8A65;
$orange-600: #F4511E;
$orange-900: #BF360C;

.bg-orange-300 {
    background-color: #FF8A65;
}

.bg-orange-600 {
    background-color: #F4511E;
}

.bg-orange-900 {
    background-color: #BF360C;
}

.orange-300 {
    color: #FF8A65;
}

.orange-600 {
    color: #F4511E;
}

.orange-900 {
    color: #BF360C;
}

.bg-grey-1 {
    background-color: #F6F6F8;
}

.bg-grey-2 {
    background-color: #E3E3E3;
}
