.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.hidden {
    display: none;
}

.white-line-break {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 1px;
    width: 150px;
    border-bottom: thin solid white;
}
